.brand {
  text-align: left;
}

.heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #595959;
}

.credits {
  color: #595959;
}

.version {
  text-align: right;
}

.divider {
  margin-top: 0;
  border-color: var(--mgl-main-text);
}
.footer {
  padding-inline: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, 9fr) repeat(3, minmax(0, 1fr));
  line-height: 2;
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-inline: 1rem;
  }
}
