h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.demo-video:hover {
  filter: brightness(135%);
  cursor: pointer;
}

.snap-btn:hover {
  filter: brightness(135%);
  cursor: pointer;
}

.black-bg {
  background-color: black;
}
