.container {
  position: relative;
}
.preview {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "overlap";
}
.toggle {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 10;
  cursor: pointer;
  color: #06ff00;
  background: transparent;
  border: 0;
  font-size: 160%;
}
