.container {
  position: relative;
}
.preview {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "overlap";
}
.toggle {
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 10;
  cursor: pointer;
  color: #06ff00;
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 160%;
  line-height: 1;
}
